
{{ content_for_index }}




<a href="pages/approche" class="block padded padded--thick light_grey_back text_center">
	<h2 class="big_bottom">We aim to respect the following as much as possible:</h2>

	<div class="grid grid--thick_guttered grid--center">
		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-natural icon--big normal_bottom"><use xlink:href="#icon-natural"></use></svg>
			<p class="p--almost">Natural<br>ingredients</p>
		</div>

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-local icon--big normal_bottom"><use xlink:href="#icon-local"></use></svg>
			<p class="p--almost">Locally sourced<br>ingredients</p>
		</div>

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-healthy icon--big normal_bottom"><use xlink:href="#icon-healthy"></use></svg>
			<p class="p--almost">Healthy<br>ingredients</p>
		</div>

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-oils icon--big normal_bottom"><use xlink:href="#icon-oils"></use></svg>
			<p class="p--almost">Essential<br>oils scent</p>
		</div>

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-reusable icon--big normal_bottom"><use xlink:href="#icon-reusable"></use></svg>
			<p class="p--almost">Reusable<br>container</p>
		</div>	

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-recyclable icon--big normal_bottom"><use xlink:href="#icon-recyclable"></use></svg>
			<p class="p--almost">Recyclable<br>materials</p>
		</div>

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-reduced icon--big normal_bottom"><use xlink:href="#icon-reduced"></use></svg>
			<p class="p--almost">Reduced usage<br>of materials</p>
		</div>

		<div class="col col--3of12 col--tablet_portrait--4of12">
			<svg class="icon-sustainable icon--big normal_bottom"><use xlink:href="#icon-sustainable"></use></svg>
			<p class="p--almost">Renewable<br>materials</p>
		</div>
	</div>
</a>