
<div class="padded padded--very_thick page">
	<h2 class="text_center big_bottom">{{ page.title }}</h2>

	<div class="grid grid--center page__content">
		<div class="col col--14of24 col--tablet_landscape--18of24 col--phone--24of24">
			{{ page.content }}
		</div>
	</div>
</div>