<div class="padded">
  <div class="grid grid--guttered">
    <div class="col col--6of12">
      {% form 'create_customer' %}
      <label for="email">Créer un compte</label>
      <input type="text" name="customer[first_name]" placeholder="Votre prénom">
      <input type="text" name="customer[last_name]" placeholder="Votre nom de famille">
      <input type="email" name="customer[email]" id="email" placeholder="Votre courriel">
      <input type="password" name="customer[password]" placeholder="Votre mot de passe">

      <button type="submit" class="button">Submit</button>
      {% endform %}
    </div>

    <div class="col col--6of12">
      
      {% form 'customer_login' %}
      <label for="login_email">Connectez-vous à un compte existant</label>
      <input type="email" name="customer[email]" id="login_email" placeholder="Votre courriel">
      <input type="password" name="customer[password]" placeholder="Votre mot de passe">


      {% if form.posted_successfully? %}
      Success
      {% else %}
      {{ form.errors | default_errors }}
      {% endif %}

      <button type="submit" class="button">Submit</button>
      {% endform %}
    </div>
  </div>
</div>


