<section class="admin fades_out fade_out" id="account">

  <div class="admin__container overlay__container--with_button">
    {% form 'reset_customer_password' %}
      
      <h5>{% if lang == 'fr' %}Entrer un nouveau mot de pass{% else %}Enter a new password{% endif %}</h5>
      
      <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

      <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

      {{ form.errors | default_errors }}

      <button class="overlay__button">{% if lang == 'fr' %}Sauvegarder{% else %}Save{% endif %}</button>
    {% endfor %}
  </div>
</section>