
<section class="admin fades_out fade_out" id="account" data-turbolinks-permanent>
	<a href="#" class="admin__back" data-hide></a>

	<div class="admin__container">
		<div class="grid grid--stretch">
			<div class="col col--4of12 overlay__container--with_button">
				<button class="overlay__link overlay__link--focus">Mon compte</button>
				<button class="overlay__link">Mes commandes</button>
				<button class="overlay__link">Mes coordonnées</button>
				<button class="overlay__link">Méthode de paiement</button>
				<button class="overlay__link">Livraison</button>
				<button class="overlay__link">Code promo</button>

				<button class="overlay__button button--black" data-logout>Logout</button>
			</div>
			<div class="col col--8of12 overlay__container--with_button">
				<div class="padded">
					<div class="grid grid--guttered">
						<div class="col col--6of12">
							
						</div>

					</div>

					<button class="overlay__button" data-submit>Sauvegarder</button>
				</div>
			</div>
		</div>	
	</div>
</section>


