<nav class="padded padded--tight">
  <div class="grid grid--guttered grid--center">
    <a href="/collections" class="col nav__link {% unless collection %}a--focus{% endunless %}">All</a>

    {% for link in linklists['collections'].links %}
	{% assign other_collection = link.object %}
	{% include 'translations' %}
	
    <a href="{{other_collection.url}}" class="col nav__link {% if collection.id == other_collection.id %}a--focus{% endif %}">{{other_collection_title}}</a>
    {% endfor %}
  </div>
</nav>