
<section class="admin fades_out fade_out" id="forgot_password" data-turbolinks-permanent>
	<a href="#" class="admin__back" data-hide></a>

	<div class="admin__container overlay__container--with_button">
		<a href="#" class="overlay__close" data-hide><svg class="icon-close icon--small"><use xlink:href="#icon-close"></use></svg></a>
		
		<div class="padded">
			<div class="grid grid--guttered grid--center">
				<div class="col col--6of12">
					{% form 'recover_customer_password' %}
					<h5>{% if lang == 'fr' %}Mot de passe oublié?{% else %}Forgot your password?{% endif %}</h5>
					<p>{% if lang == 'fr' %}Entrez votre adresse courriel et nous allons vous envoyer un lien temporaire où vous pourriez entrer un nouveau mot de passe.{% else %}Write down your email address and we'll send you a temporary link where you'll be able to reset your password.{% endif %}</p>

					<div data-success>
						<label for="login_email">{% if lang == 'fr' %}Courriel{% else %}Email address{% endif %}</label>
						<input type="email" name="email" required id="login_email" placeholder="hello@blake.com">

						<div class="alert alert--errors" data-errors></div>

						<button class="overlay__button">{% if lang == 'fr' %}Envoyer{% else %}Send{% endif %}</button>
					 </div>
					{% endform %}
				</div>
			</div>

			
		</div>
	</div>
</section>


