
// #BUTTONS

button,
.button {
	cursor: pointer;
	display: inline-block;
	
	font-family: $body_font;
	font-weight: normal;
	font-size: $medium_size;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: $highlight;
	letter-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	position: relative;
	padding: $vertical_rythm/2;
	background: transparent;
	border: 2px solid;
	border-radius: $border_radius;

	@include transition(background $fast, color $fast, border-color $fast, opacity $fast);


	&:active {
		top: 1px;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.2;
	}

	&.button--small {
		font-size: $base_size;
		border: 1px solid;
		padding: $vertical_rythm/4;
	}


	&.button--full {
		padding-right: 0;
		padding-left: 0;
		width: 100%;

		margin-bottom: $vertical_rythm/4;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.button--highlight {
		color: $grey--light;
		background: $highlight;
		border-color: transparent;
	}

	&:hover,
	&:focus {
		color: $grey--light;
		background: $primary;
		border-color: transparent;
	}

	&.button--black {
		color: $grey--light;
		background: $primary;
		border-color: transparent;

		&:hover,
		&:focus {
			background: $red;
		}
	}


	&.button--transparent {
		color: $primary;
		background: transparent;
		padding: 0;
		border: 0;

		&:hover,
		&:focus {
			color: $highlight;
		}

		&:active {
			top: 1px;
			@include shadow(none);
		}
	}
}




