

*, *:before, *:after {
	box-sizing: border-box;
}



// #BODY

html {
	
}

body {
	position: relative;
}


// #HEADER

header {
	
}


// #MAIN

.main {
	position: relative;

	min-height: 100vh;
	padding-top: 4.5rem;

	@media #{$phone} {
		padding-top: 0;
	}

	// .template-index & {
	// 	// color: $white;
	// 	padding: $gutter*2;
	// 	background-size: cover;
	// 	background-color: $black;
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// 	background-image: url('//cdn.shopify.com/s/files/1/1454/8188/files/Glass_in_dopp_bag_gray_test_a4525856-cd09-44b7-a8f1-6ec640ced4ce_1500x.jpg?v=1502282631'); 
	// }
}


// #FOOTER

footer {
	
}



// #MIXINS

.relative { position: relative; }
.absolute {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;

	&.absolute--bottom {
		top: auto;
		bottom: 0;
	}
}

.max_width {
	max-width: 42em;
}

.padded {
	padding: $gutter;

	&.padded--tight {
		padding: $gutter/4 $gutter;
	}

	&.padded--very_tight {
		padding: $gutter/4;
	}

	&.padded--thick {
		padding: $gutter*3;

		@media #{$phone} {
			padding: $gutter*2 $gutter;
		}
	}

	&.padded--very_thick {
		padding: $gutter*6 12.5%;

		@media #{$tablet_landscape} {
			padding: $gutter*4 9.375%;
		}

		@media #{$phone} {
			padding: $gutter*2 $gutter;
		}
	}

	&.padded--vertically_thick {
		padding-top: $gutter*2;
		padding-bottom: $gutter*2;
	}

	&.padded--thick_top {
		padding-top: $gutter*2;
	}

	&.padded--flat_bottom {
		padding-bottom: 0;
	}
}

.huge_bottom { 
	margin-bottom: $vertical_rythm*8;

	@media #{$tablet_landscape} {
		margin-bottom: $vertical_rythm*4;
	}
}
.big_bottom { margin-bottom: $vertical_rythm*4; }
.medium_bottom { margin-bottom: $vertical_rythm*2; }
.normal_bottom { margin-bottom: $vertical_rythm; }
.small_bottom { margin-bottom: $vertical_rythm/2; }
.flat_bottom { margin-bottom: 0 !important; }
.medium_top { margin-top: $vertical_rythm*2; }

.hide { display: none !important; }
.block { display: block; }
.inline_block { display: inline-block; }
.text_center { text-align: center; }
.text_center_on_small { @media #{$phone} { text-align: center; } }
.text_right { text-align: right; }





