

// #VIDEOS

$video_ratio: 56.25%;

.video_container {
	position: relative;
	padding-top: $video_ratio;

	iframe,
	video {
		position: absolute;
		left: 0;
		top: 0;

		height: 100%;
		width: 100%;
	}
}