

// #CART

.cart {
	@extend .overlay;
	@extend .overlay--top_right;
}

	.cart__back {
		@extend .overlay__back;
	}


	.cart__container {
		@extend .overlay__container;

		font-size: $slight_size;

		width: 18.2rem;
		border: 2px solid $highlight;
		background-color: $white;
	}

		.cart__close {
			@extend .overlay__close;
		}

		.cart__item {
			border-bottom: 2px solid $highlight;
		}