

// #HEADER

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	overflow: hidden;

	background-color: $white;

	@media #{$phone} {
		position: relative;
		text-align: center;
	}
}

	.header__logo {
		height: 4rem;
    	width: 6rem;
    	margin: -0.5rem -1rem -1rem;
	}

	.header__logotype {
		font-size: $biggish_size;

		@media #{$phone} {
			margin: 0 auto;
		}
	}
